@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:ital,wght@1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}
#main {
    width: 100%;
    height: 50vh;

}

#header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff ;
    text-transform: uppercase;
    border: 1px solid #444;
    z-index: 3;
    
}

#header .logo img{
    margin-top: 10px;
    height: 35px;
    width: 35px;

}
#header  a {
    display: inline-block;
    line-height: 84px;
}
#menu {
    list-style: none;
    display: flex;
    margin-left: 90px;

}

#menu .item {
    margin: 0 25px;
}

#menu .item a {
    color : rgb(12, 6, 6);
    text-decoration: none;
    
    
}
#menu .item a:hover {
    color : rgb(199, 17, 17);
    font-size: 25px;
}

#actions {
    display: flex;
}

#actions .item  {
    margin-left: 20px;
    
}
#actions .item a{
    text-decoration: none;
    color: #626A67;

}

#actions .item button {
    line-height: 84px;
    border: none;
    background-color: #ffffff;
    color: rgb(12, 6, 6);
     margin-top: 10px; 
}
#actions .iteam i {
    line-height: 84px;
    border: none;
    font-size: 30px;
}
#actions .iteam i:hover {
    cursor: pointer;
    color: rgb(199, 17, 17);
    font-size: 50px;
}

#actions .item button:hover {
    cursor: pointer;
    color: rgb(199, 17, 17);
    font-size: 20px;

}
.margin20px {
    margin-left: 20px;
}
#sub-header {
    margin-top: 120px ;
}

#sub-header h2 {
    font-weight: 900;
    text-align: center;
}
/* content */
*{
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content {
    margin-top: 80px;
}

body{
    height: auto;
    line-height: 1;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 80%;
    display: block;
}
.image-with-border {
    border: 5px solid #245e5e; 
    padding: 10px; 
    border-radius: 8px; 
}
.image-with-son{
  border: 2px solid #734848;
  padding: 10px; 
  border-radius: 8px;
  margin-top: 10px;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    border-radius: 5px;
    
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    font-weight: bold;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(image/uytin.jpg) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}
/* Footer */
#footer {
    width: 100%;
    border: 1px solid #333;
    height: 400px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:black;
    font-size: 20px;
}

#footer .box img {
    width: 35px;
    height: 35px;
}


/*  Cột 1  */
#footer .logo {
    margin-bottom: 15px;
}

#footer .information .inf-logo {
    margin-bottom: 15px;
}

.inf-logo .icon-logo {
    margin-right: 5px;
}

.inf-logo  a{
    color: #666;
    text-decoration: none;
}


/* Cột 2 */
#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#666;
    text-decoration: none;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}